<div class="row justify-content-md-center">

    <div class="col-md-10">

        <div class="container"
            *ngIf="cars | async; let cars; else loadingCars">

            <div class="row"
                *ngIf="filterCars(cars, 'available').length > 0; else availableCarsEmpty">

                <div class="col-md-12">
                    <h1 class="list-cars__title list-cars__title-available">
                        Autos disponibles
                    </h1>
                </div>

                <div class="col-md-4"
                    *ngFor="let car of filterCars(cars, 'available')">

                    <app-card-car [car]="car"
                        (rentCar)="rentACar($event)"></app-card-car>

                </div>

                
            </div>
            
            <ng-template #availableCarsEmpty>

                No hay carros disponibles

            </ng-template>

            <div class="row"
                *ngIf="filterCars(cars, 'rented').length > 0; else rentedCarsEmpty">

                <div class="col-md-12">
                    <h1 class="list-cars__title list-cars__title-rented">
                        Autos rentados
                    </h1>
                </div>

                <div class="col-md-4"
                    *ngFor="let car of filterCars(cars, 'rented')">

                    <app-card-car [car]="car"></app-card-car>

                </div>

                <ng-template #rentedCarsEmpty>

                    No hay carros rentados por los momentos

                </ng-template>

            </div>

        </div>

    </div>

</div>

<ng-template #loadingCars>

    <div class="row">

        <div class="col-md-4">

            <div class="row justify-content-md-center">

                <div class="col-md-auto">

                    <ngx-skeleton-loader class="list-cars__circle"
                        count="1"
                        appearance="circle"
                        [theme]="{ width: '100px', height: '100px' }"></ngx-skeleton-loader>

                </div>

            </div>

            <div class="row">

                <div class="col-md-8">

                    <ngx-skeleton-loader class="list-cars__row"
                        count="1"></ngx-skeleton-loader>

                </div>

                <div class="col-md-12">

                    <ngx-skeleton-loader class="list-cars__row"
                        count="1"></ngx-skeleton-loader>

                </div>

            </div>

        </div>

        <div class="col-md-4">

            <div class="row justify-content-md-center">

                <div class="col-md-auto">

                    <ngx-skeleton-loader class="list-cars__circle"
                        count="1"
                        appearance="circle"
                        [theme]="{ width: '100px', height: '100px' }"></ngx-skeleton-loader>

                </div>

            </div>

            <div class="row">

                <div class="col-md-8">

                    <ngx-skeleton-loader class="list-cars__row"
                        count="1"></ngx-skeleton-loader>

                </div>

                <div class="col-md-12">

                    <ngx-skeleton-loader class="list-cars__row"
                        count="1"></ngx-skeleton-loader>

                </div>

            </div>

        </div>

        <div class="col-md-4">

            <div class="row justify-content-md-center">

                <div class="col-md-auto">

                    <ngx-skeleton-loader class="list-cars__circle"
                        count="1"
                        appearance="circle"
                        [theme]="{ width: '100px', height: '100px' }"></ngx-skeleton-loader>

                </div>

            </div>

            <div class="row">

                <div class="col-md-8">

                    <ngx-skeleton-loader class="list-cars__row"
                        count="1"></ngx-skeleton-loader>

                </div>

                <div class="col-md-12">

                    <ngx-skeleton-loader class="list-cars__row"
                        count="1"></ngx-skeleton-loader>

                </div>

            </div>

        </div>

    </div>

</ng-template>
