<div class="container">
    <div class="row d-flex">

        <div class="col-md-6 mr-auto p-2 title-system">
            Hypernova Renta de Vehiculos
        </div>

        <div class="col-md-2 p-2">

            <button type="button"
                    class="btn btn-outline-primary login-button"
                    routerLink="/">Iniciar</button>

        </div>
        <div class="col-md-2 p-2">

            <button type="button"
                    class="btn btn-outline-success login-button"
                    routerLink="/sign-up">Registrarse</button>


        </div>

    </div>

    <router-outlet></router-outlet>

</div>