.card-car__content {
    box-shadow: 0 5px 12px 1px rgba(0, 0, 0, 0.5);
}

.card-car__image-content {
    width: 100%;
    height: 160px;
    overflow: hidden;
    justify-content: center;
}

.card-car__image {
    width: 100%;
}

.card-car__no-image {
    width: max-content;
    font-size: 100px;
    height: 100px;
    align-self: center;
}

.card-car__button {
    width: 100%;
}
